.py-2{
    overflow: hidden;
}

.display-4{
    font-size: 2em;
}

.card{
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
}

.card .rotate{
    z-index: 8;
    float: right;
    height: 100%;
}

.card .rotate i{
    color: rgba(20, 20, 20, 0.2);
    font-size: 6em;
    position: absolute;
    right: 9px;
    bottom: 0px;
    transform: rotate(-45deg);
}
