{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
    <h4>Lista de Funcões</h4>
    <ul>
        {% for role in roles %}
            <li>{{role.id}} - {{role.name}}</li>
        {% endfor %}
    </ul>

    <h4>Lista de Usuários</h4>
    <ul>
        {% for user in users %}
            <li>ID: {{user.id}} => USERNAME: {{user.name}}</li>
        {% endfor %}
    </ul>
    <h4>Produtos Cadastrados</h4>
    <ul>
        {% for product in products %}
            <li>ID: {{product.id}} => NAME: {{product.product}} => Tipo produto: {{product.product_type}}</li>
        {% endfor %}
    </ul>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}